
			<!--
				
				A
					{
					color: black;
					font-family: arial,helvetica,sans-serif;
					font-size: 14px
					}
				A:hover
					{
					color: black;
					font-family: arial,helvetica,sans-serif;
					font-size: 14px
					}
				BODY
					{
					background-attachment: fixed;
					background-position: center;
					background-repeat: no-repeat;
					}
				H1
					{
					font-family: times new roman,serif;
					font-size: 25px;
					font-style: italic
					}
				P
					{
					font-family: arial,helvetica,sans-serif;
					font-size: 14px
					}
				.table
					{
					border: 5px solid;
					border-color:#003155;
					}
				.white
					{
					color: #bce3fc;
					font-family: arial,helvetica,sans-serif;
					font-size: 14px;
					font-weight: bold
					}
			-->
		